<input type="text" #input placeholder="enter to-do task">
<br/>
<br/>
<button (click)="output(input.value)"ngbTooltip="I'll always open to the right" placement="right">Hover me</button>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Task</th>   
    <th scope="col">Remove</th> 
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let a of array;index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{a.name}}</td>
   <td><button (click)="remove(i)">Remove</button></td>
  </tr>
  </tbody>
</table>
<!--<ul *ngFor="let data of array">
  <li>{{data}}</li>
</ul>-->